/* 
our main colors

dark color => #363940
dark gray => #52575D
dark orange => #FFB423
light orange => #FDDB3A
white => #F0FFF3 

purple => #3A1C71
*/

/* global varibles */
:root {
  --orange-color : #FDBB2D;
  --main-transtion-duration: 0.3s;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--orange-color);
  color: #3A1C71;
}

body {
  font-family: 'Cairo', sans-serif;
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
  /* background-color: #F0FFF3 ; */
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}





/* Main Components */

/* start container component */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 25px;
    padding-right: 25px;
  }
}






/* start nav */

nav {
  background-color: #363940;
}

@media (max-width: 992px) {
  nav {
    padding: 10px 0;
  }
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.brand-title {
  color: var(--orange-color);
  text-transform: uppercase;
  
}

@media (min-width: 993px) {
  #mobile-nav-btn {
    display: none;
  }
}

@media (max-width: 992px) {
  #mobile-nav-btn {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
  }
  
  #mobile-nav-btn span{
    height: 3px;
    width: 100%;
    background-color: var(--orange-color);
    transition: .8s;
  }
  
  #mobile-nav-btn span:nth-last-of-type(2){
    width: 60%;
  }
  
  #mobile-nav-btn:hover span:nth-last-of-type(2){
    background-color: #3A1C71;
    width: 100%;
  }
}

.nav-items {
  overflow: hidden;
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

@media (max-width: 992px) {
  .nav-items {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: calc(100% + 10px); /*100% is height of nav and 10px is padding of nav*/
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(58, 28, 113, .98);
    padding: 15px 0;
  }
}

.nav-items .list {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .nav-items .list {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
}

.nav-items .list li {
  text-transform: capitalize;
  font-size: 1.1rem;
  display: block;
}

@media (max-width: 992px) {
  .nav-items .list li {
    width: 100%;
    transition: var(--main-transtion-duration);
  }
 
  .nav-items .list li:hover {
    background-color: var(--orange-color);
  }
  .nav-items .list li:hover a{
    color: #3A1C71;
    font-weight: bold;
  }
}

.nav-items .list li a {
  transition: var(--main-transtion-duration);
  display: block;
  text-decoration: none;
  color: var(--orange-color);
  height: 100%;
  padding: 15px;
}

.nav-items .list a:hover {
  background-color: #52575D;
}

@media (max-width: 992px) {
  .nav-items .list li a {
    width: 100%;
    padding: 10px 15px;
  }
  .nav-items .list li a:hover {
    background-color: transparent; 
  }
}

nav #search-bar {
  position: relative;
}

@media (max-width: 992px) {
  nav #search-bar {
    width: 100%;
    padding: 10px 15px 0;
    display: flex;
  }
}


nav #search-bar input {
  border: none;
  border-radius: 12px;
  height: 23px;
  padding: 0 10px;
  position: relative;
  caret-color: #3A1C71;
  color: #3A1C71;
}

@media (max-width: 992px) {
  nav #search-bar input {
    border-radius: 0px;
  }
}

nav #search-bar input:focus {
  outline: none;
}

nav #search-bar #search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--orange-color);
  border: none;
  padding: 5px;
  border-radius: 0% 50% 50% 0%;
  cursor: pointer;
}


@media (max-width: 992px) {
  nav #search-bar #search-btn {
    position: relative;
    border-radius: 0;
  }
}










/* start categories section  */

#categories-sec .container {
  background-color: #FFF;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#categories-sec .main-title {
  position: relative;
  display: block;
  width: fit-content;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
}

#categories-sec .main-title::before {
  content: "";
  width: 110px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #363940;
}

#categories-sec .main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -6.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  border: 2px solid #363940;
  border-radius: 50%;
}

#categories-sec #categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

#categories-sec #categories-list .category {
  position: relative;
  margin-top: 3rem;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  padding: 10px 0 0;
  cursor: pointer;
  transition: var(--main-transtion-duration);
}

#categories-sec #categories-list .category::before {
  content: "";
  width: 2px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--orange-color);
  transition: var(--main-transtion-duration);
}

#categories-sec #categories-list .category::after {
  content: "";
  width: 2px;
  height: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #3A1C71;
  transition: var(--main-transtion-duration);
}

#categories-sec #categories-list .category:hover::before,
#categories-sec #categories-list .category:hover::after {
  height: 100%;
}

#categories-sec #categories-list .category .cat-img img {
  max-width: 100%;
  width: 100%;
}

#categories-sec #categories-list .category .cat-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  border-top: 1px solid #e6e6e7;
}

#categories-sec #categories-list .category .cat-title {
  font-size: 1.3rem;
  text-transform: capitalize;
}


















