/* 
our main colors

dark color => #363940
dark gray => #52575D
dark orange => #FFB423
light orange => #FDDB3A
white => #F0FFF3 

purple => var(--purble-color)
*/

/* global varibles */
:root {
  --orange-color : #FDBB2D;
  --main-transtion-duration: 0.3s;
  --purble-color: #3A1C71;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: var(--orange-color);
  color: var(--purble-color);
}

body {
  font-family: 'Cairo', sans-serif;
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
  /* background-color: #F0FFF3 ; */
  background: linear-gradient(90deg, #FDBB2D 0%, var(--purble-color) 100%);
  scroll-behavior: smooth;
}





/* Main Components */

/* start container component */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 25px;
    padding-right: 25px;
  }
}







/* start nav */

nav {
  background-color: #363940;
}

@media (max-width: 992px) {
  nav {
    padding: 10px 0;
  }
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

.brand-title {
  color: var(--orange-color);
  text-transform: uppercase;
  
}

@media (min-width: 993px) {
  #mobile-nav-btn {
    display: none;
  }
}

@media (max-width: 992px) {
  #mobile-nav-btn {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
  }
  
  #mobile-nav-btn span{
    height: 3px;
    width: 100%;
    background-color: var(--orange-color);
    transition: .8s;
  }
  
  #mobile-nav-btn span:nth-last-of-type(2){
    width: 60%;
  }
  
  #mobile-nav-btn:hover span:nth-last-of-type(2){
    background-color: #3A1C71;
    width: 100%;
  }
}

.nav-items {
  overflow: hidden;
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

@media (max-width: 992px) {
  .nav-items {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: calc(100% + 10px); /*100% is height of nav and 10px is padding of nav*/
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(58, 28, 113, .98);
    padding: 15px 0;
  }

  .nav-items.nav-show {
    display: flex !important;
  }
}

.nav-items .list {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .nav-items .list {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
}

.nav-items .list li {
  text-transform: capitalize;
  font-size: 1.1rem;
  display: block;
}

@media (max-width: 992px) {
  .nav-items .list li {
    width: 100%;
    transition: var(--main-transtion-duration);
  }
 
  .nav-items .list li:hover {
    background-color: var(--orange-color);
  }
  .nav-items .list li:hover a{
    color: #3A1C71;
    font-weight: bold;
  }
}

.nav-items .list li a {
  transition: var(--main-transtion-duration);
  display: block;
  text-decoration: none;
  color: var(--orange-color);
  height: 100%;
  padding: 15px;
}

.nav-items .list a:hover {
  background-color: #52575D;
}

@media (max-width: 992px) {
  .nav-items .list li a {
    width: 100%;
    padding: 10px 15px;
  }
  .nav-items .list li a:hover {
    background-color: transparent; 
  }
}

nav #search-bar {
  position: relative;
}

@media (max-width: 992px) {
  nav #search-bar {
    width: 100%;
    padding: 10px 15px 0;
    display: flex;
  }
}


nav #search-bar input {
  border: none;
  border-radius: 12px;
  height: 23px;
  padding: 0 10px;
  position: relative;
  caret-color: #3A1C71;
  color: #3A1C71;
}

@media (max-width: 992px) {
  nav #search-bar input {
    border-radius: 0px;
  }
}

nav #search-bar input:focus {
  outline: none;
}

nav #search-bar #search-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--orange-color);
  border: none;
  padding: 5px;
  border-radius: 0% 50% 50% 0%;
  cursor: pointer;
}


@media (max-width: 992px) {
  nav #search-bar #search-btn {
    position: relative;
    border-radius: 0;
  }
}











/* start single recipe desc overlay */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
  display: none;
}

#overlay.visible {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}



#overlay .container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 25px 30px;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

@media (max-width: 767px) {
  #overlay .container {
    padding-top: 60px;
  }
}
#overlay #close-btn {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: var(--purble-color);
  padding: 4px 6px;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
  color: #FFF;
  font-weight: 900;
  cursor: pointer;
  transition: var(--main-transtion-duration);
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay #close-btn:hover {
  color: var(--orange-color);
}

@media (max-width: 767px) {
  #overlay #close-btn {
  top: 20px;
  right: 25px;
  }
}
#overlay #recipe-info {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
} 

@media (max-width: 767px) {
  #overlay #recipe-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  } 
}

#overlay #recipe-info #recipe-img{
  flex-basis: 25%;
}

#overlay #recipe-info #recipe-img img {
  width: 100%;
  max-width: 100%;
}

#overlay #recipe-info #text {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: var(--purble-color);
}


@media (max-width: 767px) {
  #overlay #recipe-info #text{
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    width: 100%;
  } 
}

#overlay #recipe-info #text #recipe-name{
  flex-basis: 60%;
}

@media (max-width: 767px) {
  #overlay #recipe-info #text #recipe-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
}

#overlay #recipe-info #text #recipe-name h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  

  #overlay #recipe-info #text #recipe-name h2 {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: bolder;
  }

}

#overlay #recipe-info #text .interact-btns {
  display: flex;
}

#overlay #recipe-info #text #recipe-name #like-btn,
#overlay #recipe-info #text #recipe-name #fav-btn {
  background-color: var(--purble-color);
  padding: 5px;
  border-radius: 6px;
  border: none;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  transition: var(--main-transtion-duration);
}

@media (max-width: 767px) {
  #overlay #recipe-info #text #recipe-name #like-btn,
  #overlay #recipe-info #text #recipe-name #fav-btn {
    padding: 8px;
  }
}

#overlay #recipe-info #text #recipe-name #like-btn i,
#overlay #recipe-info #text #recipe-name #fav-btn i{
  font-size: 1.05rem; 
}

@media (max-width: 767px) {
  #overlay #recipe-info #text #recipe-name #fav-btn span {
    display: none;
  }
}

#overlay #recipe-info #text #recipe-name #fav-btn {
  font-size: .9rem;
  text-transform: capitalize;
}

#overlay #recipe-info #text #recipe-name #like-btn:hover,
#overlay #recipe-info #text #recipe-name #fav-btn:hover {
  transform: translateY(-3px);
}

#overlay #recipe-info #text #recipe-name #fav-btn i {
  margin-left: 5px;
}


@media (max-width: 767px) {
  #overlay #recipe-info #text #recipe-name #fav-btn i {
    margin-left: 0;
  }
}

#overlay #recipe-info #text #recipe-details {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


@media (max-width: 770px) {
  #overlay #recipe-info #text #recipe-details {
    flex-basis: 40%;
    margin-right: 0;
  }
}

#overlay #recipe-info #recipe-details #recipe-country,
#overlay #recipe-info #recipe-details #recipe-category {
  font-size: 1.1rem;
  font-weight: bold;
}


@media (max-width: 767px) {
  #overlay #recipe-info #recipe-details #recipe-country,
  #overlay #recipe-info #recipe-details #recipe-category {
    font-size: 1.2rem;
  }
}


#overlay #recipe-info #recipe-details #youtube-link {
  text-decoration: none;
  color: var(--purble-color);
  font-weight: bold;
  transition: var(--main-transtion-duration);
}

#overlay #recipe-info #recipe-details #youtube-link:hover {
  color: var(--orange-color);
  
}

@media (max-width: 767px) {
  #overlay #recipe-info #recipe-details #youtube-link i{
    font-size: 1.3rem;
  }
}

#overlay #recipe-info #recipe-details #tags {
  display: flex;
  gap: 10px;
  list-style: none;
  color: #777;
}

#overlay #recipe-info #recipe-details #tags li {
  position: relative;
}

#overlay #recipe-info #recipe-details #tags li:not(#overlay #recipe-info #text #tags li:last-of-type)::after {
  content: ",";
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--purble-color);
  font-size: 1.2rem;
  font-weight: bold;
}





#overlay #recipe-description {
  display: flex;
  gap: 40px;
}


@media (max-width: 767px) {
  #overlay #recipe-description {
    flex-direction: column;
  }
  
}

#overlay #recipe-description #recipe-ingredients {
  flex-basis: 45%; 
}

#overlay #recipe-description #recipe-ingredients h4,
#overlay #recipe-description #recipe-instruction h4 {
  color: var(--orange-color);
  text-transform: capitalize;
  font-size: 1.35rem;
  font-weight: 900;
  margin-bottom: 20px;  
}

#overlay #recipe-description #recipe-ingredients #ingredients-list { 
  list-style: none;
  counter-reset:ingredient;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 15px 10px;
}

#overlay #recipe-description #recipe-ingredients #ingredients-list li{ 
  position: relative;
  text-transform: capitalize;
  padding: 5px;
  background-color: #FFF;
  color: #363940;
  font-weight: 700;
  border-left: 3px solid var(--purble-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  transition: var(--main-transtion-duration);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

#overlay #recipe-description #recipe-ingredients #ingredients-list li:hover{
  border-left: 3px solid var(--orange-color);
  padding-left: 12px;
}

#overlay #recipe-description #recipe-instruction {
  flex-basis: 55%; 
}

#overlay #recipe-description #recipe-instruction p{
  line-height: 1.4;
  color: var(--purble-color);
  font-weight: 500;
}










/* end single recipe desc overlay */





/* start recipeses section  */

#recipes-sec .container {
  background-color: #FFF;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#recipes-sec .main-title {
  position: relative;
  display: block;
  width: fit-content;
  padding-bottom: 15px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
}

#recipes-sec .main-title::before {
  content: "";
  width: 110px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #363940;
}

#recipes-sec .main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: -6.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
  border: 2px solid #363940;
  border-radius: 50%;
}

#recipes-sec #recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

#recipes-sec #recipes-list .recipe {
  position: relative;
  margin-top: 3rem;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  /* padding: 10px 0 0; */
  cursor: pointer;
  transition: var(--main-transtion-duration);
}
 
#recipes-sec #recipes-list .recipe::before {
  content: "";
  width: 3px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--orange-color);
  transition: var(--main-transtion-duration);
}

#recipes-sec #recipes-list .recipe::after {
  content: "";
  width: 3px;
  height: 0px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: var(--purble-color);
  transition: var(--main-transtion-duration);
}

#recipes-sec #recipes-list .recipe:hover::before,
#recipes-sec #recipes-list .recipe:hover::after {
  height: 100%;
}

#recipes-sec #recipes-list .recipe .recipe-img img {
  max-width: 100%;
  width: 100%;
}

#recipes-sec #recipes-list .recipe .recipe-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-top: 1px solid #e6e6e7;
  gap: 10px;
}

#recipes-sec #recipes-list .recipe .recipe-name {
  font-size: 1.3rem;
  text-transform: capitalize;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

#recipes-sec #recipes-list .recipe .recipe-body i {
  color: #a6a6b3;
  font-size: 1.05rem;
}


















